# Preprocess data for viz

## Data for map

In [41]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
import os

In [42]:
plr = gpd.read_file('data/raw-data/lor/lor_planungsraeume.geojson', encoding='utf-8')

# old data: stgbxIIlor.csv
df = pd.read_csv('data/raw-data/lor/2018_new.csv', sep=";", dtype={'Kennung':str}, na_values=['.', 'x'], encoding='utf-8')
df.set_index('Kennung', inplace=True)

data = df.join(plr.set_index('spatial_name'), rsuffix='_r')

data.rename(columns={
       ' je 100 der Bevölkerung1)\n(18 - 64 Jahre,\ninsgesamt)': '18-64 Jahre insgesamt',
       ' je 100 der Bevölkerung1)\n(ab 65 Jahre,\ninsgesamt)': 'ab 65 Jahre insgesamt',
       ' je 100 der Bevölkerung1)\n(18 - 64 Jahre,\nDeutsche)': '18-64 Jahre Deutsche',
       ' je 100 der Bevölkerung1)\n(ab 65 Jahre,\nDeutsche)': 'ab 65 Jahre Deutsche',
       ' je 100 der Bevölkerung1)\n(18 - 64 Jahre,\nAusländer)': '18-64 Jahre Ausländer',
       ' je 100 der Bevölkerung1)\n(ab 65 Jahre,\nAusländer)': 'ab 65 Jahre Ausländer'
}, inplace=True)

gpd.GeoDataFrame(data).to_file('data/preprocessed-data/xii.geojson', driver='GeoJSON', encoding='utf-8')

## Merge all years for whole Berlin (linechart)

In [43]:
full_df = pd.DataFrame()

for i in range (2006, 2019):
    df = pd.read_excel('data/raw-data/lor/{}.xls'.format(str(i)), sheet_name='Tab E1', header=2, na_values=['x', '.'])
    df['jahr'] = i
    full_df = full_df.append(df[df.iloc[:,1] == 'Berlin'], sort=False)

full_df.set_index('jahr', inplace = True)
full_df = full_df.round(2)

full_df.rename(columns={
       ' je 100 der Bevölkerung1)\n(18 - 64 Jahre,\ninsgesamt)': '18-64 Jahre insgesamt',
       ' je 100 der Bevölkerung1)\n(ab 65 Jahre,\ninsgesamt)': 'ab 65 Jahre insgesamt',
       ' je 100 der Bevölkerung1)\n(18 - 64 Jahre,\nDeutsche)': '18-64 Jahre Deutsche',
       ' je 100 der Bevölkerung1)\n(ab 65 Jahre,\nDeutsche)': 'ab 65 Jahre Deutsche',
       ' je 100 der Bevölkerung1)\n(18 - 64 Jahre,\nAusländer)': '18-64 Jahre Ausländer',
       ' je 100 der Bevölkerung1)\n(ab 65 Jahre,\nAusländer)': 'ab 65 Jahre Ausländer'
}, inplace=True)

full_df[['18-64 Jahre insgesamt',
       'ab 65 Jahre insgesamt', '18-64 Jahre Deutsche', 'ab 65 Jahre Deutsche',
       '18-64 Jahre Ausländer', 'ab 65 Jahre Ausländer']].to_csv('timeline.csv', encoding='utf-8')

full_df = full_df.round(2)
full_df.to_csv('data/preprocessed-data/timeline.csv', encoding='utf-8')

## Merge all years on LOR Level (timelapse map)

In [81]:
# ab 65 Jahre

#initialise empty data frame
df = pd.DataFrame()

#iterate thorugh all the xls files
#header row ist third row // start coutning at 0
#specify speacial Na values with "x" and "."
for i in range (2006, 2019):
    df_temp = pd.read_excel('data/raw-data/lor/{}.xls'.format(str(i)), sheet_name='Tab E1', header=2, na_values=['x', '.'])
    df_temp.rename(columns={' je 100 der Bevölkerung1)\n(ab 65 Jahre,\ninsgesamt)': 'y' + str(i), 
                            'Planungsraum':'Kennung', 'Unnamed: 1':'Name'}, inplace=True)

    #solange es Planungsräume gibt
    df_temp = df_temp[df_temp.Name.notnull() & (df_temp.Name != 'Name')]
    
    #create smaller df
    df_temp = df_temp[['Kennung', 'Name', 'y' + str(i)]]
    
    print(df_temp.iloc[439:447,])
    
    if df.size == 0:
        df = df_temp
    else:
        df = df.merge(df_temp, how="right")

#round to two numbers after comma
df = df.round(2)

df = df.fillna('null')

df.to_csv('data/preprocessed-data/timelapse_full.csv', encoding='utf-8')

      Kennung                        Name     y2006
441  12302007             Schorfheidestr.  0.166113
442  12302008          Märkisches Zentrum  3.859993
443  12302009       Treuenbrietzener Str.  4.018789
444  12302010            Dannenwalder Weg  3.345070
445  12302011             Lübarser Straße  2.367531
446  12302012           Rollbergesiedlung  5.258126
447  12304313                 Borsigwalde  2.608048
448  12304314  Ziekowstraße/Freie Scholle  1.750292
      Kennung                        Name     y2007
441  12302007             Schorfheidestr.  0.311526
442  12302008          Märkisches Zentrum  4.072682
443  12302009       Treuenbrietzener Str.  4.933196
444  12302010            Dannenwalder Weg  4.328018
445  12302011             Lübarser Straße  2.533040
446  12302012           Rollbergesiedlung  6.278027
447  12304313                 Borsigwalde  3.021583
448  12304314  Ziekowstraße/Freie Scholle  2.216278
      Kennung                        Name     y2008
441  12302007             Schorfheidestr.  0.147929
442  12302008          Märkisches Zentrum  3.486239
443  12302009       Treuenbrietzener Str.  4.799578
444  12302010            Dannenwalder Weg  3.755605
445  12302011             Lübarser Straße  2.553191
446  12302012           Rollbergesiedlung  4.862953
447  12304313                 Borsigwalde  3.086863
448  12304314  Ziekowstraße/Freie Scholle  2.609335
      Kennung                        Name     y2009
441  12302107             Schorfheidestr.  1.208054
442  12302108          Märkisches Zentrum  4.011799
443  12302109       Treuenbrietzener Str.  6.388738
444  12302110            Dannenwalder Weg  4.226919
445  12302211             Lübarser Straße  2.451481
446  12302212           Rollbergesiedlung  6.017699
447  12304313                 Borsigwalde  3.438596
448  12304314  Ziekowstraße/Freie Scholle  2.441652
      Kennung                        Name     y2010
441  12302107             Schorfheidestr.  1.830986
442  12302108          Märkisches Zentrum  3.953824
443  12302109       Treuenbrietzener Str.  6.382979
444  12302110            Dannenwalder Weg  4.835924
445  12302211             Lübarser Straße  2.403846
446  12302212           Rollbergesiedlung  7.003546
447  12304313                 Borsigwalde  3.531073
448  12304314  Ziekowstraße/Freie Scholle  2.969589
      Kennung                        Name     y2011
441  12302107             Schorfheidestr.  0.834492
442  12302108          Märkisches Zentrum  4.395280
443  12302109       Treuenbrietzener Str.  6.339468
444  12302110            Dannenwalder Weg  4.638873
445  12302211             Lübarser Straße  2.268041
446  12302212           Rollbergesiedlung  7.699358
447  12304313                 Borsigwalde  3.690808
448  12304314  Ziekowstraße/Freie Scholle  3.157504
      Kennung                        Name     y2012
441  12302107             Schorfheidestr.  1.715040
442  12302108          Märkisches Zentrum  4.601048
443  12302109       Treuenbrietzener Str.  7.280617
444  12302110            Dannenwalder Weg  5.086774
445  12302211             Lübarser Straße  2.300000
446  12302212           Rollbergesiedlung  8.122744
447  12304313                 Borsigwalde  4.022583
448  12304314  Ziekowstraße/Freie Scholle  3.309091
      Kennung                        Name     y2013
441  12302107             Schorfheidestr.  1.756587
442  12302108          Märkisches Zentrum  4.587421
443  12302109       Treuenbrietzener Str.  7.804419
444  12302110            Dannenwalder Weg  5.408654
445  12302211             Lübarser Straße  2.346041
446  12302212           Rollbergesiedlung  7.866184
447  12304313                 Borsigwalde  3.816254
448  12304314  Ziekowstraße/Freie Scholle  3.466956
      Kennung                        Name     y2014
441  12302107             Schorfheidestr.  1.610905
442  12302108          Märkisches Zentrum  4.350331
443  12302109       Treuenbrietzener Str.  7.433628
444  12302110            Dannenwalder Weg  4.900817
445  12302211             Lübarser Straße  2.190476
446  12302212           Rollbergesiedlung  7.468124
447  12304313                 Borsigwalde  3.438596
448  12304314  Ziekowstraße/Freie Scholle  3.250883
      Kennung                        Name     y2015
441  12302107             Schorfheidestr.  2.000000
442  12302108          Märkisches Zentrum  4.974417
443  12302109       Treuenbrietzener Str.  8.148804
444  12302110            Dannenwalder Weg  5.609065
445  12302211             Lübarser Straße  2.257761
446  12302212           Rollbergesiedlung  8.325709
447  12304313                 Borsigwalde  4.501385
448  12304314  Ziekowstraße/Freie Scholle  3.384396
      Kennung                        Name     y2016
441  12302107             Schorfheidestr.  1.861042
442  12302108          Märkisches Zentrum  4.917112
443  12302109       Treuenbrietzener Str.  8.450704
444  12302110            Dannenwalder Weg  5.997758
445  12302211             Lübarser Straße  2.549575
446  12302212           Rollbergesiedlung  9.659614
447  12304313                 Borsigwalde  4.798331
448  12304314  Ziekowstraße/Freie Scholle  3.629893
      Kennung                        Name      y2017
441  12302107             Schorfheidestr.   1.944107
442  12302108          Märkisches Zentrum   5.143975
443  12302109       Treuenbrietzener Str.   9.043020
444  12302110            Dannenwalder Weg   6.704225
445  12302211             Lübarser Straße   2.502317
446  12302212           Rollbergesiedlung  10.151803
447  12304313                 Borsigwalde   4.605722
448  12304314  Ziekowstraße/Freie Scholle   3.607143
      Kennung                        Name      y2018
441  12302107             Schorfheidestr.   2.682927
442  12302108          Märkisches Zentrum   5.708661
443  12302109       Treuenbrietzener Str.   8.873114
444  12302110            Dannenwalder Weg   6.966292
445  12302211             Lübarser Straße   2.329916
446  12302212           Rollbergesiedlung  10.995261
447  12304313                 Borsigwalde   4.915730
448  12304314  Ziekowstraße/Freie Scholle   4.116395

## Merge all years for "angerechnete Einkommen" and "Kosten der Unterkunft"

### angerechnete Einkommen

In [45]:
# this setup expects the rows to always stay in the same order (e.g.: row 6 = "Empfänger/innen insgesamt").
# If the order changes, the outcome data is faulty

df_income = pd.DataFrame()

for i in range (2007, 2019):
    df_temp = pd.read_excel('data/raw-data/monatliche-statistik/grusi_{}.xls'.format(str(i)), sheet_name='Tab E8', header=2, na_values=['x', '.'])
    df_temp.rename(columns={'Unnamed: 15': str(i), 
                            'Unnamed: 0':'nationality'}, inplace=True)
    df_temp = df_temp[df_temp.nationality.notnull() & (df_temp[str(i)].notnull())]

    
    
    if df_income.size == 0:
        df_income = df_temp[['nationality', str(i)]]
        #df.set_index('nationality', inplace = True)
    else:
        df_income[str(i)] = df_temp[str(i)]

df_income = df_income.round(2)
df_income = df_income.fillna('null')

In [46]:
df_income.loc[2,:]

nationality    Empfänger/innen insgesamt
2007                              427.31
2008                              282.02
2009                              218.07
2010                              209.07
2011                              212.26
2012                              224.22
2013                              229.71
2014                              270.73
2015                              284.14
2016                              283.75
2017                              286.04
2018                              276.57
Name: 2, dtype: object

In [47]:
df_income.to_csv('data/preprocessed-data/income.csv', encoding='utf-8')

In [48]:
# this setup expects the rows to always stay in the same order (e.g.: row 6 = "Empfänger/innen insgesamt").
# If the order changes, the outcome data is faulty

df_rent = pd.DataFrame()

for i in range (2007, 2019):
    df_temp = pd.read_excel('data/raw-data/monatliche-statistik/grusi_{}.xls'.format(str(i)), sheet_name='Tab E6', header=3, na_values=['x', '.'])
    df_temp.rename(columns={'Durchschnittliche\nanerkannte\nAufwendungen für\nUnterkunft und\nHeizung in \nEUR pro Monat\n(Spalte 4-17)': str(i), 
                            'Unnamed: 0':'nationality'}, inplace=True)
    df_temp = df_temp[df_temp.nationality.notnull() & (df_temp[str(i)].notnull())]

    
    
    if df_rent.size == 0:
        df_rent = df_temp[['nationality', str(i)]]
        #df.set_index('nationality', inplace = True)
    else:
        df_rent[str(i)] = df_temp[str(i)]

df_rent = df_rent.round(2)
df_rent = df_rent.fillna('null')

In [49]:
df_rent.to_csv('data/preprocessed-data/rent.csv', encoding='utf-8')

#### join both datasets to one

In [50]:
# get data of income dataFrame
df_joined = df_income.set_index('nationality').T.iloc[:,0:1]
df_joined.rename(columns={'Empfänger/innen insgesamt':'income'}, inplace = True)

# get data of rent dataFrame
df_joined['rent'] = df_rent.set_index('nationality').T.iloc[:,0:1]

In [51]:
df_joined.to_csv('data/preprocessed-data/rent_income.csv', encoding='utf-8')